.App {
  text-align: center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(https://thumbs.dreamstime.com/b/asphalt-road-backgrounds-yellow-dividing-lines-asphalt-background-directly-above-180950887.jpg);

}


.App > div {
  min-height: 80vh;
  
}

.nav  {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(https://thumbs.dreamstime.com/b/asphalt-road-backgrounds-yellow-dividing-lines-asphalt-background-directly-above-180950887.jpg);
  color: white !important;
  position: sticky top !important;
  height: 100px !important;

}

.navlink {
  color: white !important;
}
.navlink:hover {
  background-color: orange;
  color: black !important;
}

#section1 {
  background-image: url(./images/asphalt.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  
  /* min-height: 100vh; */

}

.aboutus {
  text-decoration: underline orange;
  text-decoration-thickness: 11px;
}

.aboutus2 {
  text-decoration: underline black;
  text-decoration-thickness: 8px;
}

.about {
  /* background: #878787;
background: linear-gradient(to top, #878787 0%, #000000 100%); */
/* background-image: url(https://media.istockphoto.com/photos/mans-legs-on-newly-laid-asphalt-during-road-construction-picture-id469577715?k=20&m=469577715&s=612x612&w=0&h=BWxZw4hJG3zJm2XhTBrDrYq9PiIRQnbBk6yT4ec8cJo=); */
background-position: center;
background-size: cover;
color: white;
}

.abouttext {
  
  
}

.logo:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}



.subtitle {
  color: orange;
}

#section2 {
  min-height: 80vh;
  /* height: 700px !important; */
  /* margin-top: px; */

}

#section3{
  /* min-height: 300vh; */
  margin-top: -250px;
  height: 700px;
  /* margin-bottom: -600px; */
}

.landing {
  color: white;

}

.nav {
  height: 70px;
}

.navtitle {
  font-size: 45px;
}

.services {
  background: #FFB76B;
background: linear-gradient(to right, #FFB76B 0%, #FFA73D 30%, #FF7C00 60%, #FF7F04 100%);
/* margin-top: -250px; */
/* height: 800px; */
/* margin-bottom: -800px !important; */

}
.about {
  height: 600px;
}

.aboutimage {
  height: 300px;
  width: 500px;
  margin-top: 100px;
  margin-left: 20px;
}

.serviceimage {
  height: 200px;
  width: 200px;
  border: solid black;
}

#section4 {
  background: #FFB76B;
background: linear-gradient(to right, #FFB76B 0%, #FFA73D 30%, #FF7C00 60%, #FF7F04 100%);
/* margin-top: -1000px !important; */
}

#section5{
  background-image: url(https://media.istockphoto.com/photos/construction-site-is-laying-new-asphalt-road-pavement-picture-id1196434198?k=20&m=1196434198&s=612x612&w=0&h=-xpvmCNXVdcnWNUgKRAoapVsQqfPLiHwwoQH6qSUGCQ=);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallerylist {
  align-content: center !important;
}

.review {
  color: black;
  width: 75%;
  text-align: justify;
}

.owner {
  text-decoration: solid black;
  font-weight: bolder;
}

/* .avatar {
  height: 200px;
  width: 300px;
} */


