.App {
  text-align: center;
  background-color: darkorange;
}


.App > div {
  min-height: 80vh;
  
}

.nav  {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(https://thumbs.dreamstime.com/b/asphalt-road-backgrounds-yellow-dividing-lines-asphalt-background-directly-above-180950887.jpg);
  color: white !important;
  position: sticky top !important;
  height: 100px !important;

}

.navlink {
  color: white !important;
}
.navlink:hover {
  background-color: orange;
  color: black !important;
}

#section1 {
  background-image: url(./images/asphalt.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  /* min-height: 100vh; */

}

.aboutus {
  text-decoration: underline orange;
  text-decoration-thickness: 12px;
}

.about {
  background: #878787;
background: linear-gradient(to top, #878787 0%, #000000 100%);
color: white;
}

.logo:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}



.subtitle {
  color: orange;
}

#section2 {
  min-height: 80vh;
  /* margin-top: px; */

}

#section3{
  min-height: 80vh;
  margin-top: -250px;
}

.landing {
  color: white;

}

.nav {
  height: 70px;
}

.navtitle {
  font-size: 45px;
}

.services {
  background: #874400;
background: linear-gradient(to top, #874400 0%, #5C5C5C 100%);

}